@model CalisanBilgiler.Models.CalisanViewModel
@{
	ViewData["Title"] = "Delete Employee";
	var errorMessage = TempData["errorMessage"]?.ToString();

}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
	<div class="alert alert-danger">
		<strong>Error!</strong>@errorMessage
		<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>

	</div>
}
<form action="Delete" method="post" autocomplete="off">
	<div class="mb-3">
		<label class="form-label">Id</label>
		<input type="text" class="form-control" asp-for="Id" readonly></input>
	</div>
	<div class="mb-3">
		<label class="form-label">First Name</label>
		<input type="text" class="form-control" asp-for="FirstName" readonly></input>
	</div>
	<div class="mb-3">
		<label class="form-label">Last Name</label>
		<input type="text" class="form-control" asp-for="LastName" readonly></input>
	</div>
	<div class="mb-3">
		<label class="form-label"> Date Of Birth</label>
		<input type="date" class="form-control" asp-for="DateOfBirth" readonly></input>
	</div>
	<div class="mb-3">
		<label class="form-label">E-Mail</label>
		<input type="email" class="form-control" asp-for="Email" readonly></input>
		
	</div>
	<div class="mb-3">
		<label class="form-label">Salary</label>
		<div class="input-group">
			<span class="input-group-text">₺</span>
			<input type="text" class="form-control" asp-for="Salary" readonly></input>

		</div>
		
	</div>
	<div class="d-grid">
		<button type="submit" class="btn btn-danger" onclick="return confirm('Bu calisani silmek istediginize emin misiniz:
		@Model.FullName')">Delete</button>
	</div>
</form>

