@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sirketimize Hosgeldiniz!</h1>
    <p>KRC KARGO LTD.ŞTİ <a href=""></a>.</p>
    <p>Calışan bilgilerine erişmek için sol üstteki menüden CalisanBilgi ekranına tıklayınız <a href=""></a>.</p>
</div>
